*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    height: 10vh;
    width: 100%;
    position: fixed;
    background-color: aqua;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.navbar .menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 5%;
    position: relative;
    left: 500%;
    
    
}
.navbar .menu a{
    color: brown;
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    background-color: wheat;
    border-radius: 5px;
    padding: 10%;
    
}
